<style>
    #logo svg,
    #logo svg * {
      color: #282828;
      color: var(--MENU-SECTIONS-BG-color);
      fill: #282828 !important;
      fill: var(--MENU-SECTIONS-BG-color) !important;
      opacity: .945;
    }
    a#logo {
      color: #282828;
      color: var(--MENU-SECTIONS-BG-color);
      font-family: 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
      font-size: 1.875rem;
      font-weight: 300;
      margin-top: -.8125rem;
      max-width: 60%;
      text-transform: uppercase;
      width: 14.125rem;
      white-space: nowrap;
    }
    a#logo:hover {
      color: #282828;
      color: var(--MENU-SECTIONS-BG-color);
    }
    #logo svg {
      margin-bottom: -1.25rem;
      margin-inline-start: -1.47rem;
      width: auto;
    }
    @media only all and (max-width: 60rem) {
      a#logo {
        font-size: 1.5625rem;
        margin-top: -.1875rem;
      }
      #logo svg {
        margin-bottom: -.75rem;
        margin-inline-start: -1.47rem;
      }
    }
    @media all and (-ms-high-contrast:none) {
      {{ "/* IE11s understanding of positioning is weird at best */" | safeCSS }}
      a#logo {
        margin-top: -3.625rem;
      }
      #logo svg {
        margin-bottom: -3.875rem;
        margin-left: -1.47rem;
      }
    }
    @media only all and (-ms-high-contrast:none) and (max-width: 60rem) {
      #logo svg {
        margin-left: -1.47rem;
      }
    }
  </style>
  <a id="logo" href="{{ partial "relLangPrettyUglyURL.hugo" (dict "to" .Site.Home) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 648 273">
        <image href="images/gnu_bash_logo.svg" width="648px" height="273px" />
    </svg>
    
  </a>
